# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
pip-wheel-metadata/
*.log

# macOS
.DS_Store

# PyCharm
.idea/
*.iml

# Odoo specifics (optional)
*.zip
*.pot
*.mo
*.swp
*.bak
*.tmp
*.~*
*.sass-cache
node_modules/

